/nbproject/
/smarty/templates_c/
database.inc
www/assets/plugins/select2-4.0.13/nbproject/private/config.properties
www/assets/plugins/select2-4.0.13/nbproject/private/private.properties
www/assets/plugins/select2-4.0.13/nbproject/private/private.xml
